:root {
    /*color palette*/
    --eggshell: #f4f1deff;
    --terra-cotta: #e07a5fff;
    --independence: #3d405bff;
    --green-sheen: #81b29aff;
    --deep-champagne: #f2cc8fff;

    --main-color: #d39539;
    --secondary-color: #F3E9DD;
    --third-color: #FDF6EC;
    --fourth-color: #B7CADB; 
    --text-color: rgb(32, 32, 32);
    --link-color: rgb(29, 35, 94);
    --link-color-hover: #3d405bff;
    /* --text-color: green; */

}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: sans-serif;
}

textarea {
    background-color: var(--secondary-color) !important;
}

.bordered {
    border: 2px solid black;
}

.card, .list-group-item {
    background-color: var(--third-color);
}

.cards-block {
    text-align: left;
}

.center {
    text-align: center;
}

.container {
    max-width: 970px;
}

.input-group-text {
    background-color: var(--main-color) !important;
}

.instructions-block {
    text-align: left;
}

.recipe-image {
    border: 2px solid var(--third-color);
}

.recipe-step-number {
    font-weight: bold;
}

.recipe-step-number:after {
    content: ".";
}

.recipe-summary {
    text-align: left;
}