<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Fridge Emptier</title>
</head>

<body>
<div class="container">
    <div class="section">
        <h1>Welcome to Fridge Emptier!</h1>
    </div>
    <hr>
    <div class="section">
        <p>This site lets you find dishes made of ingredients from your fridge :)</p>
    </div>
    <hr>
    <form action="#" th:action="@{/find}" th:object="${searchBodyDTO}" method="post">
        <div class="section">
            <p>Write down ingredients you want to use:</p>
            <span class="form-example">Please use singular form. Example: banana, egg, milk</span>
            <textarea class="form-control" th:field="*{include}"></textarea>
            <span class="form-error" th:if="${#fields.hasErrors('include')}" th:errors="*{include}">Include error</span>
        </div>
        <hr>
        <div class="section">
            <p>If you want to exclude some ingredients, write them down here:</p>
            <span class="form-example">Example: honey, berry</span>
            <textarea class="form-control" th:field="*{exclude}"></textarea>
        </div>
        <hr>
        <div class="section d-flex justify-content-evenly">
            <p>
                <input class="btn btn-secondary" type="submit" value="Search"/>
                <input class="btn btn-danger" type="reset" value="Clear fields"/>
            </p>
        </div>
    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>